*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
    gap: 20px;
}

.button {
    text-decoration: none;
    height: 70px;
    aspect-ratio: 1/1;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14ab8a;
    box-shadow: 0px 5px 18px rgba(128, 128, 128, 0.41);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.button i {
    transition: .2s;
}

.button::before {
    position: absolute;
    content: '';
    width: calc(1.8 * 70px);
    height: 200%;
    transform-origin: center;
    background-color: #14ab8a;
    border-radius: 15px;
    transition: .5s cubic-bezier(.25,1.39,.58,1.39);
    transform: skew(45deg) translate(-125px, 50px);
    z-index: -1;
}

.button:hover i{
    transform: scale(1.2);
    color: white;
}

.button:hover::before {
    transform: skew(45deg) translate(0,0);
}